<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIdF0TUFlPhW3LCgR_n1k_y1ivzd-M1Is</string>
	<key>GCM_SENDER_ID</key>
	<string>1058178655174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boscosoft.chengai</string>
	<key>PROJECT_ID</key>
	<string>cristoversiontwo</string>
	<key>STORAGE_BUCKET</key>
	<string>cristoversiontwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058178655174:ios:0fb66d43a23d94562d88c7</string>
	<key>DATABASE_URL</key>
	<string>https://cristoversiontwo-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>